[submodule "ThirdParty/eigen"]
	path = ThirdParty/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "ThirdParty/tbb"]
	path = ThirdParty/tbb
	url = https://github.com/wjakob/tbb.git
[submodule "ThirdParty/gpurt"]
	path = ThirdParty/gpurt
	url = https://github.com/apc-llc/gpurt.git
